/* Contenedor principal */
.dni-container {
  width: 100%;
  margin: 3rem auto;
  overflow-x: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Estilos de la tabla */
.dni-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
  border: 3px solid #000000;
}

.dni-table-thead {
  background-color: #000000;
  color: white;
}

.dni-table-row {
  border: 2px solid #000000;
  transition: background-color 0.3s ease;
}

.dni-table-row:hover {
  background-color: #f8f9fa;
}

.dni-header-nombre,
.dni-header-codigo,
.dni-header-acciones {
  padding: 1.5rem;
  text-align: left;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 2px solid #000000;
  background-color: #000000;
}

.dni-header-nombre {
  width: 40%;
}

.dni-header-codigo {
  width: 30%;
}

.dni-header-acciones {
  width: 30%;
  text-align: center;
}

.dni-table-body tr {
  border: 2px solid #000000;
}

.dni-table-body td {
  padding: 1.3rem;
  color: #000000;
  font-size: 1.1rem;
  border: 2px solid #000000;
}



.dni-input-field:focus {
  border-color: #000000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  outline: none;
}

/* Botón de envío (si lo necesitas) */
.dni-submit-button {
  background-color: #000000;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dni-submit-button:hover {
  background-color: #333333;
  transform: translateY(-2px);
}


/* Espaciado entre los labels y los títulos */
label.dniform-label-documento {
  font-size: 12px;
  font-weight: 600;
  /* Para hacerla más visible */
  margin-bottom: 1px;
  /* Aumentar el espacio inferior */
  padding: 1px;
  margin-top: 20px;

}

label.dniform-label-codigo {
  font-size: 12px;
  font-weight: 600;
  /* Para hacerla más visible */
  margin-bottom: 6px;
  /* Aumentar el espacio inferior */
  padding: 1px;
  margin-top: 20px;
}


h1.dni-app-title {
  color: rgba(255, 255, 255, 0);
}

.dni-add-button {
  background-color: #1f1ccd;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  margin: 0;
  /* Elimina el margen para acercar más el botón */
  margin-top: 15px;
  /* Ajusta el margen superior a 2px para que esté más cerca del input */
}

.dni-button-edit {
  background-color: #27ae60;
  color: #ffffff;
  margin-right: 12px;
  transform: translateY(-2px);
}

.dni-button-delete {
  background-color: #e74c3c;
  color: white;
}


.dni-button-delete {
  background-color: #c0392b;
  transform: translateY(-2px);
}


