.ocupaciones-container {
  width: 100%;
  margin: 3rem auto;
  overflow-x: auto;
  background: white;
  padding: 2rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Estilos de la tabla */
.ocupaciones-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
  border: 3px solid #000;
}

.ocupaciones-table-thead {
  background-color: #000;
  color: #fff;
}

.ocupaciones-table-row {
  border: 2px solid #000;
  transition: background-color 0.3s ease;
}

.ocupaciones-table-row:hover {
  background-color: #f8f9fa;
}

.ocupaciones-table-header-cell {
  padding: 1.5rem;
  text-align: left;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: 2px solid #000;
  background-color: #000;
}

.ocupaciones-header-descripcion {
  width: 40%;
}

.ocupaciones-header-codigo {
  width: 30%;
}

.ocupaciones-header-acciones {
  width: 30%;
  text-align: center;
}

.ocupaciones-table-body tr {
  border: 2px solid #000;
}

.ocupaciones-table-body td {
  padding: 1.3rem;
  color: #000;
  font-size: 1.1rem;
  border: 2px solid #000;
}

/* Estilos de los inputs */
.ocupacionesform-input-descripcion:focus,
.ocupacionesform-input-codigo:focus {
  border-color: #000;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  outline: none;
}

/* Botón de guardar */
.ocupacionesform-button-save {
  background-color: #47d444;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ocupacionesform-button-save:hover {
  background-color: #1a1a99;
  transform: translateY(-2px);
}

/* Botón de cancelar */
.ocupacionesform-button-cancel {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ocupacionesform-button-cancel:hover {
  background-color: #c0392b;
  transform: translateY(-2px);
}

/* Espaciado entre los labels y los títulos */
label.ocupacionesform-label-descripcion,
label.ocupacionesform-label-codigo {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  padding: 1px;
  margin-top: 20px;
}

/* Estilos para el input de búsqueda (si se necesita) */
.ocupacion-search-input {
  position: fixed;
  right: 433px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

/* Efecto de enfoque en el input de búsqueda */
.ocupacion-search-input:focus {
  border-color: #33ff00;
  outline: none;
  box-shadow: 0 0 5px #33ff00;
}

.ocupacion-edit-button {
  background-color: #27ae60;
  color: #ffffff;
  margin-right: 12px;
  
}
.ocupacion-delete-button{
  background-color: #e74c3c;
  color: white;
 
}
.ocupacion-edit-button:hover{
  background-color: #007430;
  transform: translateY(-2px);
}
.ocupacion-delete-button:hover{
  background-color: #ff1900;
  transform: translateY(-2px);
}
.ocupaciones-add-button {
  background-color: #47d444;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.ocupaciones-add-button:hover {
  background-color: #1a1a99;
  transform: translateY(-2px);
}