

/* Contenedor principal */


/* Estilos de la barra de navegación */
.navbar-custom {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
}

.navbar-custom .navbar-brand {
  font-weight: bold;
  color: #28a745;
}

.navbar-custom .nav-link {
  color: #333;
  transition: color 0.3s ease;
}

.navbar-custom .nav-link:hover {
  color: #28a745;
}



.main-section {
  flex-grow: 1;
}

html,
body {
  margin: 0;
  /* Eliminar márgenes por defecto */
  padding: 0;
  /* Eliminar relleno por defecto */
}

.footer-section {
  background-color: #2c3e50;
  /* Color de fondo oscuro */
  color: #ecf0f1;
  /* Color del texto claro */
  padding: 1rem;
  /* Espaciado superior e inferior */
  text-align: center;
  /* Alineación centrada */
  font-family: "Arial", sans-serif;
  /* Ajusta la altura para que se extienda hasta el final de la página */
  position: fixed;
  /* Fija el pie de página al fondo */
  bottom: 0;
  /* Alinea el pie de página en la parte inferior */
  left: 0;
  /* Alinea el pie de página a la izquierda */
  width: 100%;
  /* Ancho completo */
  height: 50px;
  /* Ajusta la altura según sea necesario */
  padding: 20px;
  /* Espaciado dentro del pie de página */
  margin: 0;
  /* Retira márgenes predeterminados */
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra ligera */
}

.footer-section p {
  margin: 0;
  /* Eliminar margen por defecto */
  font-size: 14px;
  /* Tamaño de fuente */
}

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-content {
  text-align: center;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.logo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}